<h1>Registrujte korisnika</h1>
<div class="register-page">
    <div class="form">
    <form class="register-form" [formGroup] = "form">
        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="ID" formControlName = "id" min="0" [errorStateMatcher]="matcher">
                <mat-error *ngIf="form.get('id').hasError('id')">
                    Uneti ID postoji
                    <br>
                  </mat-error>
            </mat-form-field>
            <br>
            <div>
                
            </div>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Korisnicko ime" formControlName = "korisnickoIme" >
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Lozinka" formControlName = "lozinka" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="email" placeholder="Email" formControlName = "email" [errorStateMatcher]="matcher">
                <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
                    Unesite validnu e-mail adresu
                    <br>
                  </mat-error>
            </mat-form-field>
            
            
            
            <br>
        </div>

        <div>
            <button  (click) = "submit()">Registruj</button>
        </div>
    </form>
    </div>
</div>
