<form  [formGroup] = "form" *ngFor = "let c of config" (ngSubmit) = "create()">
    <div *ngIf = "c.type != 'button' && c.type != 'select'">
        <label>{{c.label}}</label><input type="{{c.inputType}}" formControlName = "{{c.name}}">
    </div>
    <div *ngIf = "c.type == 'button'">
        <input type="{{c.inputType}}" value="{{c.value}}">
    </div>
    <div *ngIf = "c.type == 'select'">
        <label>{{c.label}}
            <select formControlName = "{{c.name}}">
                <option *ngFor = "let option of c.options" [ngValue] = "option.value">{{option[c.attribute]}}</option>
            </select>
        </label>
    </div>
</form>
