<div class="example-container">
    <form [formGroup] = "form" (ngSubmit) = "submit()">
        
        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="ID" formControlName = "id" min="0">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Naziv" formControlName = "naziv" >
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
            <mat-select formControlName = "fakultet" placeholder="Fakultet">
                    <mat-option *ngFor = "let fakultet of fakulteti" [value] = "fakultet">{{fakultet.naziv}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
            <mat-select formControlName = "rukovodilac" placeholder="Rukovodilac">
                    <mat-option *ngFor = "let nastavnik of nastavnici" [value] = "nastavnik">{{nastavnik.ime}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <input type="submit">
        </div>
        
    </form>
  </div>