.example-container {
    display: flex;
    flex-direction: column;
}

.example-container > * {
    width: 50px;
    height: 50px;
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
}
h1{
    text-align: center;
}