<h1>Nastavni materijal</h1>
<div id="table">
    <mat-form-field>
        <input matInput #search (keyup)="applyFilter(search.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <ng-container matColumnDef="naziv">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv </th>
        <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
      </ng-container>
  
      <ng-container matColumnDef="godinaIzdanja">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Godina Izdanja </th>
        <td mat-cell *matCellDef="let element"> {{element.godinaIzdanja}} </td>
      </ng-container>


      <ng-container matColumnDef="datumAzuriranja">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DatumAzuriranja </th>
        <td mat-cell *matCellDef="let element"> {{element.datumAzuriranja}} </td>
      </ng-container>

      <ng-container matColumnDef="datumUklanjanja">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DatumUklanjanja </th>
        <td mat-cell *matCellDef="let element"> {{element.datumUklanjanja}} </td>
      </ng-container>

      <ng-container matColumnDef="akcije">
        <th mat-header-cell *matHeaderCellDef> Akcije </th>
        <td mat-cell *matCellDef="let element"> <button mat-button (click) = "deleteRow(element)">Obrisi</button>&nbsp; <a mat-button routerLink="/nastavni-materijal/{{element.id}}">Izmeni</a> </td>
      </ng-container>

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[1, 2, 10]" showFirstLastButtons></mat-paginator>
</div>
