<div>
    
    <nav class="navbar">

        <!-- Ustanove -->
        <button mat-button [matMenuTriggerFor]="ustanoveMenu">Ustanove</button>
        <mat-menu #ustanoveMenu="matMenu" yPosition="below">
            <!-- Univerziteti -->
            <button mat-menu-item [matMenuTriggerFor]="univerzitetiMenu">Univerziteti</button>
            <mat-menu #univerzitetiMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/univerziteti">Prikaz</button>
            </mat-menu>

            <!-- Fakulteti -->
            <button mat-menu-item [matMenuTriggerFor]="fakultetiMenu">Fakulteti</button>
            <mat-menu #fakultetiMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/fakulteti">Prikaz</button>
            </mat-menu>
        </mat-menu>


        <!-- Studije -->
        <button mat-button [matMenuTriggerFor]="studijeMenu">Studije</button>
        <mat-menu #studijeMenu="matMenu" yPosition="below">
            
            <!-- Studijski programi -->
            <button mat-menu-item [matMenuTriggerFor]="studijskiProgramiMenu">Studijski programi</button>
            <mat-menu #studijskiProgramiMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/studijskiProgrami">Prikaz</button>
            </mat-menu>

            <!-- Godina studija -->
            <button mat-menu-item [matMenuTriggerFor]="godinaStudijaMenu">Godina studija</button>
            <mat-menu #godinaStudijaMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/godinaStudija">Prikaz</button>
            </mat-menu>

            <!-- Predmet -->
            <button mat-menu-item [matMenuTriggerFor]="predmetMenu">Predmeti</button>
            <mat-menu #predmetMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/predmeti">Prikaz</button>
            </mat-menu>

            <!-- Naucna oblast -->
            <button mat-menu-item [matMenuTriggerFor]="naucnaOblastMenu">Naucne oblasti</button>
            <mat-menu #naucnaOblastMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/naucneOblasti">Prikaz</button>
            </mat-menu>

        </mat-menu>



        <!-- Nastavnici -->
        <button mat-button [matMenuTriggerFor]="nastavniciMenu">Nastavnici</button>
        <mat-menu #nastavniciMenu="matMenu" yPosition="below">
        
            <!-- Nastavnik -->
            <button mat-menu-item [matMenuTriggerFor]="nastavnikMenu">Nastavnici</button>
            <mat-menu #nastavnikMenu="matMenu" yPosition="below">
            <button mat-menu-item routerLink = "/nastavnici">Prikaz</button>
            
            </mat-menu>

            <!-- Autori -->
            <button mat-menu-item [matMenuTriggerFor]="autoriMenu">Autori</button>
            <mat-menu #autoriMenu="matMenu" yPosition="below">
            <button mat-menu-item routerLink = "/autori">Prikaz</button>
            
            </mat-menu>

        </mat-menu>
        

        
    </nav>
</div>