<h1>Predmeti</h1>
<div >
    <mat-form-field>
        <input matInput #search (keyup)="applyFilter(search.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="naziv">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv</th>
        <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
      </ng-container>

      <ng-container matColumnDef="espb">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ESPB</th>
        <td mat-cell *matCellDef="let element"> {{element.espb}} </td>
      </ng-container>

      <ng-container matColumnDef="obavezan">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Obavezan</th>
        <td mat-cell *matCellDef="let element"> {{element.obavezan}} </td>
      </ng-container>

      <ng-container matColumnDef="brojPredavanja">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Broj predavanja</th>
        <td mat-cell *matCellDef="let element"> {{element.brojPredavanja}} </td>
      </ng-container>

      <ng-container matColumnDef="brojVezbi">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Broj vezbi</th>
        <td mat-cell *matCellDef="let element"> {{element.brojVezbi}} </td>
      </ng-container>

      <ng-container matColumnDef="drugiObliciNastave">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Drugi oblici nastave</th>
        <td mat-cell *matCellDef="let element"> {{element.drugiObliciNastave}} </td>
      </ng-container>

      <ng-container matColumnDef="istrazivackiRad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Istrazivacki rad</th>
        <td mat-cell *matCellDef="let element"> {{element.istrazivackiRad}} </td>
      </ng-container>

      <ng-container matColumnDef="ostaliCasovi">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ostali casovi</th>
        <td mat-cell *matCellDef="let element"> {{element.ostaliCasovi}} </td>
      </ng-container>

      <ng-container matColumnDef="akcije">
        <th mat-header-cell *matHeaderCellDef> Akcije </th>
        <td mat-cell *matCellDef="let element"> <button mat-button (click) = "deleteRow(element)">Obrisi</button> </td>
      </ng-container>

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[1, 2, 10]" showFirstLastButtons></mat-paginator>
</div>
<br>
<div style="padding: 20px;">
  <button mat-button (click) = "export()" id="export">Export</button>
</div>
<br>

<div class="text-center">
  <div style="padding: 20px;">
      <label>Import</label>
  </div>
  <div style="padding: 20px;">
    <input type="file" (change)="changeListener($event)">
  </div>
</div>
