<h4>Realizacija predmeta</h4>
<div class="mat-elevation-z8">
    <mat-form-field>
        <input matInput #search (keyup)="applyFilter(search.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="nastavnikNaRealizaciji">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nastavnik na realizaciji</th>
        <td mat-cell *matCellDef="let element"> {{element.nastavnikNaRealizaciji.id}} </td>
      </ng-container>

      <ng-container matColumnDef="predmet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Predmet</th>
        <td mat-cell *matCellDef="let element"> {{element.predmet.naziv}} </td>
      </ng-container>

      <ng-container matColumnDef="akcije">
        <th mat-header-cell *matHeaderCellDef> Akcije </th>
        <td mat-cell *matCellDef="let element"> <button mat-button (click) = "deleteRow(element)">Obrisi</button> </td>
      </ng-container>

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[1, 2, 10]" showFirstLastButtons></mat-paginator>
</div>
