<div class="example-container">
    <form form [formGroup] = "form">
        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="ID" formControlName = "id" >
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field>
                <input matInput type="date" placeholder="Datum azuriranja" formControlName = "datumAzuriranja" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="date" placeholder="Datum uklanjanja" formControlName = "datumUklanjanja" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="date" placeholder="Godina izdanja" formControlName = "godinaIzdanja" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Naziv" formControlName = "naziv" >
            </mat-form-field>
        </div>

        <div>
            <button  (click) = "update()">Submit</button>
        </div>
        <br>
        <div style="padding: 20px;">
            <button mat-button>Undo</button>
        </div>
        <div style="padding: 20px;">
            <button mat-button>Redo</button>
        </div>
        
    </form>
    
  </div>
  
