<div class="example-container">
    <form form [formGroup] = "form">
        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="ID" formControlName = "id" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Naziv" formControlName = "naziv" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <!-- <mat-label>Adresa</mat-label> -->
                <mat-select formControlName = "adresa" placeholder = "Adresa">
                    <mat-option *ngFor = "let adresa of adrese" [value] = "adresa">{{adresa.ulica}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div> 
     
        <div>
            <mat-form-field>
                <mat-label>Univerzitet</mat-label>
                <mat-select formControlName = "univerzitet">
                    <mat-option *ngFor = "let univerzitet of univerziteti" [value] = "univerzitet">{{univerzitet.id}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div> 

        <div>
            <mat-form-field>
                <mat-label>Dekan</mat-label>
                <mat-select formControlName = "dekan">
                    <mat-option *ngFor = "let dekan of dekani" [value] = "dekan">{{dekan.ime}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div> 

        <div>
            <button  (click) = "submit()">Submit</button>
        </div>
        
    </form>
  </div>
