<h1>Univerziteti</h1>
<br>
<div id="table">
    <mat-form-field>
        <input matInput #search (keyup)="applyFilter(search.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="ulica">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ulica </th>
        <td mat-cell *matCellDef="let element"> {{element.ulica}} </td>
      </ng-container>

      <ng-container matColumnDef="broj">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Broj </th>
        <td mat-cell *matCellDef="let element"> {{element.broj}} </td>
      </ng-container>
      
      <ng-container matColumnDef="akcije">
        <th mat-header-cell *matHeaderCellDef> Akcije </th>
        <td mat-cell *matCellDef="let element"> <button mat-button (click) = "deleteRow(element)">Obrisi</button> </td>
      </ng-container>

      <ng-container matColumnDef="izmena">
        <th mat-header-cell *matHeaderCellDef> Izmena </th>
        <td mat-cell *matCellDef="let element"> <a mat-button routerLink="/univerziteti/{{element.id}}">Izmeni</a> </td>
      </ng-container>


  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <div style="padding: 20px;">
      <button mat-button (click) = "export()" id="export">Export</button>
    </div>
    <br>

    <div class="text-center">
      <div style="padding: 20px;">
        <label>Import</label>
      </div>
      <div style="padding: 20px;">
        <input type="file" (change)="changeListener($event)">
      </div>
    </div>
  
    <mat-paginator [pageSizeOptions]="[1, 2, 10]" showFirstLastButtons></mat-paginator>
</div>
