<h4>Evaluacija znanja</h4>
<div class="mat-elevation-z8">
    <mat-form-field>
        <input matInput #search (keyup)="applyFilter(search.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="vremePocetka">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> VremePocetka </th>
        <td mat-cell *matCellDef="let element"> {{element.vremePocetka}} </td>
      </ng-container>
  
      <ng-container matColumnDef="vremeZavrsetka">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> VremeZavrsetka </th>
        <td mat-cell *matCellDef="let element"> {{element.vremeZavrsetka}} </td>
      </ng-container>

      <ng-container matColumnDef="bodovi">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bodovi </th>
        <td mat-cell *matCellDef="let element"> {{element.bodovi}} </td>
      </ng-container>

      <ng-container matColumnDef="akcije">
        <th mat-header-cell *matHeaderCellDef> Akcije </th>
        <td mat-cell *matCellDef="let element"> <button mat-button (click) = "deleteRow(element)">Obrisi</button> </td>
      </ng-container>

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[1, 2, 10]" showFirstLastButtons></mat-paginator>
</div>

