<h3>Dodavanje predmeta</h3>
<div class="example-container">
    
    <form form [formGroup] = "form">
        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="ID" formControlName = "id" >
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Naziv" formControlName = "naziv" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="ESPB" formControlName = "espb" min="0" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-select placeholder="Obavezan" formControlName = "obavezan">
                    <mat-option [value]="true">
                       True 
                    </mat-option>
                    <mat-option [value]="false">
                        False 
                     </mat-option>
                  </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="Broj predavanja" formControlName = "brojPredavanja" min="0">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="Broj vezbi" formControlName = "brojVezbi" min="0">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="Drugi oblici nastave" formControlName = "drugiObliciNastave" min="0">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="Istrazivacki rad" formControlName = "istrazivackiRad" min="0">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="Ostali casovi" formControlName = "ostaliCasovi" min="0">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Godina studija</mat-label>
                <mat-select formControlName = "godinaStudija">
                    <mat-option *ngFor = "let godina of godineStudija" [value] = "godina">{{godina.godina}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <button  (click) = "submit()">Dodaj</button>
        </div>
        
    </form>
  </div>
