<div class="example-container">
    <form form [formGroup] = "form">
        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="ID" formControlName = "id" >
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field>
                <input matInput type="date" placeholder="Evaluacija znanja" formControlName = "evaluacijaZnanja" >
            </mat-form-field>
        </div>
        <div>
            <button  (click) = "submit()">Dodaj</button>
        </div>
        
    </form>
  </div>
