<div class="example-container">
<form [formGroup] = "form" (ngSubmit) = "submit()">
    <div>
        <mat-form-field>
            <input matInput type="number" placeholder="ID" formControlName = "id" >
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field>
            <input matInput type="text" placeholder="Naziv" formControlName = "naziv" >
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <!-- <mat-label>Drzave</mat-label> -->
            <mat-select formControlName = "drzava" placeholder="Drzava">
                <mat-option *ngFor = "let drzava of drzave" [value] = "drzava">{{drzava.naziv}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <input type="submit">
    </div>
    
</form>
</div>
