<h1>Studenti</h1>
<br>
<mat-form-field>
  <input matInput #search (keyup)="applyFilter(search.value)" placeholder="Pretraga">
</mat-form-field>

    <div id="table">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="ime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ime</th>
          <td mat-cell *matCellDef="let element"> {{element.ime}} </td>
        </ng-container>

        <ng-container matColumnDef="jmbg">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> JMBG</th>
          <td mat-cell *matCellDef="let element"> {{element.jmbg}} </td>
        </ng-container>

        <ng-container matColumnDef="adresa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Adresa</th>
          <td mat-cell *matCellDef="let element"> {{element.adresa.ulica}} {{element.adresa.broj}} </td>
        </ng-container>

        <ng-container matColumnDef="registrovaniKorisnik">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail</th>
          <td mat-cell *matCellDef="let element"> {{element.registrovaniKorisnik.email}} </td>
        </ng-container>

        <ng-container matColumnDef="akcije">
          <th mat-header-cell *matHeaderCellDef> Akcije </th>
          <td mat-cell *matCellDef="let element"> <button mat-button (click) = "deleteRow(element)">Obrisi</button> </td>
        </ng-container>

    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[1, 2, 10]" showFirstLastButtons></mat-paginator> 
  </div>
    

<br>
<div style="padding: 20px;">
  <button mat-button (click) = "export()">Export</button>
</div>
<br>

<div class="text-center" style="padding: 20px;">
    <label> &nbsp; Import: &nbsp;&nbsp;&nbsp;</label>
    <input type="file" (change)="changeListener($event)">
  
</div>
