
* {
    margin: 0;
    font-family: 'Times New Roman', cursive;
    color: #333;
    font-size: large;
}

.navbar {
    padding: 20px;
    /* display: flex; */
    /* align-items: center; */
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;

}


.navbar button:hover {
    color: #f1356d;
  }