<div>
    
    <nav class="navbar">

        <!-- Ustanove -->
        <button mat-button [matMenuTriggerFor]="ustanoveMenu">Ustanove</button>
        <mat-menu #ustanoveMenu="matMenu" yPosition="below">
            <!-- Univerziteti -->
            <button mat-menu-item [matMenuTriggerFor]="univerzitetiMenu">Univerziteti</button>
            <mat-menu #univerzitetiMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/univerziteti">Prikaz</button>
            </mat-menu>

            <!-- Fakulteti -->
            <button mat-menu-item [matMenuTriggerFor]="fakultetiMenu">Fakulteti</button>
            <mat-menu #fakultetiMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/fakulteti">Prikaz</button>
            </mat-menu>
        </mat-menu>

        <!-- Lokacije -->
        <button mat-button [matMenuTriggerFor]="lokacijeMenu">Lokacije</button>
        <mat-menu #lokacijeMenu="matMenu" yPosition="below">
            <!-- Drzave -->
            <button mat-menu-item [matMenuTriggerFor]="drzaveMenu">Drzave</button>
            <mat-menu #drzaveMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/drzave">Prikaz</button>
            </mat-menu>

            <button mat-menu-item [matMenuTriggerFor]="mestaMenu">Mesta</button>
            <mat-menu #mestaMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/mesta">Prikaz</button>
            </mat-menu>

            <!-- Adrese -->
            <button mat-menu-item [matMenuTriggerFor]="adreseMenu">Adrese</button>
            <mat-menu #adreseMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/adrese">Prikaz</button>
            </mat-menu>

        </mat-menu>


        <!-- Studije -->
        <button mat-button [matMenuTriggerFor]="studijeMenu">Studije</button>
        <mat-menu #studijeMenu="matMenu" yPosition="below">
            
            <!-- Studijski programi -->
            <button mat-menu-item [matMenuTriggerFor]="studijskiProgramiMenu">Studijski programi</button>
            <mat-menu #studijskiProgramiMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/studijskiProgrami">Prikaz</button>
            </mat-menu>

            <!-- Godina studija -->
            <button mat-menu-item [matMenuTriggerFor]="godinaStudijaMenu">Godina studija</button>
            <mat-menu #godinaStudijaMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/godinaStudija">Prikaz</button>
            </mat-menu>

            <!-- Predmet -->
            <button mat-menu-item [matMenuTriggerFor]="predmetMenu">Predmeti</button>
            <mat-menu #predmetMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/predmeti">Prikaz</button>
            </mat-menu>

            <!-- Naucna oblast -->
            <button mat-menu-item [matMenuTriggerFor]="naucnaOblastMenu">Naucne oblasti</button>
            <mat-menu #naucnaOblastMenu="matMenu" yPosition="below">
            
            </mat-menu>

        </mat-menu>


        <button mat-button [matMenuTriggerFor]="studentiNadMenu">Studenti</button>
        <mat-menu #studentiNadMenu="matMenu" yPosition="below">
            <!-- Student -->
            <button mat-menu-item [matMenuTriggerFor]="studentMenu">Studenti</button>
                <mat-menu #studentMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/studenti">Prikaz</button>
            </mat-menu>

            <!-- Student na godini -->
            <button mat-menu-item [matMenuTriggerFor]="studentNaGodiniMenu">Student na godini</button>
            <mat-menu #studentNaGodiniMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/studentNaGodini">Prikaz</button>
            
            </mat-menu>

            <!-- Ishod -->
            <button mat-menu-item [matMenuTriggerFor]="ishodMenu">Ishodi</button>
            <mat-menu #ishodMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/ishodi">Prikaz</button>
            
            </mat-menu>

            <!-- Termin nastave -->
            <button mat-menu-item [matMenuTriggerFor]="terminNastaveMenu">Termin nastave</button>
            <mat-menu #terminNastaveMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/termin-nastave">Prikaz</button>  
            </mat-menu>

            <!-- Tip nastave -->
            <button mat-menu-item [matMenuTriggerFor]="tipNastaveMenu">Tip nastave</button>
            <mat-menu #tipNastaveMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/tipnastave">Prikaz</button>
            
            </mat-menu>

            <!-- Pohadjanje predmeta -->
            <button mat-menu-item [matMenuTriggerFor]="pohadjanjePredmetaMenu">Pohadjanje predmeta</button>
            <mat-menu #pohadjanjePredmetaMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/pohadjanjePredmeta">Prikaz</button>
            
            </mat-menu>

            <!-- Evaluacija znanja -->
            <button mat-menu-item [matMenuTriggerFor]="evaluacijaZnanjaMenu">Evaluacija znanja</button>
            <mat-menu #evaluacijaZnanjaMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink = "/evaluacija-znanja">Prikaz</button>  
            </mat-menu>
        </mat-menu>


        <!-- Nastavnici -->
        <button mat-button [matMenuTriggerFor]="nastavniciMenu">Nastavnici</button>
        <mat-menu #nastavniciMenu="matMenu" yPosition="below">
        
            <!-- Nastavnik -->
            <button mat-menu-item [matMenuTriggerFor]="nastavnikMenu">Nastavnici</button>
            <mat-menu #nastavnikMenu="matMenu" yPosition="below">
            <button mat-menu-item routerLink = "/nastavnici">Prikaz</button>
            
            </mat-menu>

            

            <!-- Zvanje -->
            <button mat-menu-item [matMenuTriggerFor]="zvanjeMenu">Zvanja</button>
            <mat-menu #zvanjeMenu="matMenu" yPosition="below">
            <button mat-menu-item routerLink = "/zvanja">Prikaz</button>
            </mat-menu>

            <button mat-menu-item [matMenuTriggerFor]="nastavniMaterijalMenu">Nastavni materijal</button>
            <mat-menu #nastavniMaterijalMenu="matMenu" yPosition="below">
            <button mat-menu-item routerLink = "/nastavni-materijal">Prikaz</button>  
            </mat-menu>

            <!-- Tip zvanja -->
            <button mat-menu-item [matMenuTriggerFor]="tipZvanjaMenu">Tip zvanja</button>
            <mat-menu #tipZvanjaMenu="matMenu" yPosition="below">
            <button mat-menu-item routerLink = "/tipoviZvanja">Prikaz</button>
            
            </mat-menu>

            

            <!-- Nastavnik na realizaciji -->
            <button mat-menu-item [matMenuTriggerFor]="nastavnikNaRealizacijiMenu">Nastavnik na realizaciji</button>
            <mat-menu #nastavnikNaRealizacijiMenu="matMenu" yPosition="below">
            <button mat-menu-item routerLink = "/nastavniknarealizaciji">Prikaz</button>
            
            </mat-menu>

            <!-- Realizacija predmeta -->
            <button mat-menu-item [matMenuTriggerFor]="realizacijaPredmetaMenu">Realizacija predmeta</button>
            <mat-menu #realizacijaPredmetaMenu="matMenu" yPosition="below">
            <button mat-menu-item routerLink = "/realizacijaPredmeta">Prikaz</button>
            
            </mat-menu>

            

            <!-- Autori -->
            <button mat-menu-item [matMenuTriggerFor]="autoriMenu">Autori</button>
            <mat-menu #autoriMenu="matMenu" yPosition="below">
            <button mat-menu-item routerLink = "/autori">Prikaz</button>
            
            </mat-menu>

        </mat-menu>
        

        
    </nav>
</div>