<div class="example-container">
    <form form [formGroup] = "form">
        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="ID" formControlName = "id" >
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Jmbg" formControlName = "jmbg" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Ime" formControlName = "ime" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Adresa</mat-label>
                <mat-select formControlName = "adresa">
                    <mat-option *ngFor = "let adresa of adrese" [value] = "adresa">{{adresa.ulica}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Registrovani korisnik</mat-label>
                <mat-select formControlName = "registrovaniKorisnik">
                    <mat-option *ngFor = "let registrovaniKorisnik of registrovaniKorisnici" [value] = "registrovaniKorisnik">{{registrovaniKorisnik.korisnickoIme}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <button  (click) = "submit()">Dodaj</button>
        </div>
        
    </form>
  </div>
