<div class="example-container">
    <form form [formGroup] = "form">
        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="ID" formControlName = "id" >
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Ulica" formControlName = "ulica" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="Broj" formControlName = "broj" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Adresa</mat-label>
                <mat-select formControlName = "adresa">
                    <mat-option *ngFor = "let adresa of adrese" [value] = "adresa">{{adresa.ulica}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Rektor</mat-label>
                <mat-select formControlName = "rektor">
                    <mat-option *ngFor = "let rektor of rektori" [value] = "rektor">{{rektor.ime}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <button  (click) = "submit()">Dodaj</button>
        </div>
        
    </form>
  </div>
