<div class="example-container">
    <form form [formGroup] = "form">
        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="ID" formControlName = "id" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Biografija" formControlName = "biografija" >
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Ime" formControlName = "ime" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Jmbg" formControlName = "jmbg" >
            </mat-form-field>
        </div>

        <!-- <div>
            <mat-form-field>
                <mat-label>Studijski program</mat-label>
                <mat-select formControlName = "studijskiProgram">
                    <mat-option *ngFor = "let studijskiProgram of studijskiProgrami" [value] = "studijskiProgram">{{studijskiProgram.naziv}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

   

        <div>
            <button  (click) = "update()">Dodaj</button>
        </div>
        
    </form>
  </div>
