<div class="example-container">
    <form form [formGroup] = "form">
        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="ID" formControlName = "id" >
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="Broj" formControlName = "broj" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Ulica" formControlName = "ulica" >
            </mat-form-field>
        </div>

        <!-- <div>
            <mat-form-field>
                <mat-label>Fakultet</mat-label>
                <mat-select formControlName = "fakultet">
                    <mat-option *ngFor = "let fakultet of fakulteti" [value] = "fakultet">{{fakultet.naziv}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

        <div>
            <mat-form-field>
                <mat-label>Mesto</mat-label>
                <mat-select formControlName = "mesto">
                    <mat-option *ngFor = "let mesto of mesta" [value] = "mesto">{{mesto.naziv}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- <div>
            <mat-form-field>
                <mat-label>Univerzitet</mat-label>
                <mat-select formControlName = "univerzitet">
                    <mat-option *ngFor = "let univerzitet of univerziteti" [value] = "univerzitet">{{univerzitet.id}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>  -->

        <div>
            <button  (click) = "submit()">Submit</button>
        </div>
        
    </form>
  </div>
