<!-- <form [formGroup] = "form" (ngSubmit) = "submit()">
    <div>
        <label>Korisnicko ime: <input type="text" formControlName = "korisnickoIme"></label>
    </div>
    <div>
        <label>Lozinka: <input type="text" formControlName = "lozinka"></label>
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
</form> -->
<body *ngIf="!loginService.isLoggedIn()">
    <div class="login-page">
        <div class="form">
        <form class="login-form" [formGroup] = "form" (ngSubmit) = "submit()">
            <div>
                <mat-form-field>
                    <input matInput type="text" placeholder="Korisnicko ime" formControlName = "korisnickoIme" >
                </mat-form-field>
            </div>
            
            <div>
                <mat-form-field>
                    <input matInput type="password" placeholder="Lozinka" formControlName = "lozinka" >
                </mat-form-field>
            </div>
            <div>
                <button  (click) = "submit()">Login</button>
            </div>
        </form>
        </div>
    </div>

</body>


<!-- <div class="example-container">
    <form form [formGroup] = "form">
        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Korisnicko ime" formControlName = "korisnickoIme" >
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field>
                <input matInput type="password" placeholder="Lozinka" formControlName = "lozinka" >
            </mat-form-field>
        </div>
        <div>
            <button  (click) = "submit()">Login</button>
        </div>
        
    </form>
  </div> -->
