<div class="example-container">
    <form form [formGroup] = "form">
        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="ID" formControlName = "id" >
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Ime" formControlName = "ime" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Biografija" formControlName = "biografija" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput type="text" placeholder="Jmbg" formControlName = "jmbg" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Registrovani korisnik</mat-label>
                <mat-select formControlName = "registrovaniKorisnik">
                    <mat-option *ngFor = "let korisnik of registrovaniKorisnici" [value] = "korisnik">{{korisnik.korisnickoIme}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- <div>
            <mat-form-field>
                <mat-label>Fakultet</mat-label>
                <mat-select formControlName = "fakultet">
                    <mat-option *ngFor = "let fakultet of fakulteti" [value] = "fakultet">{{fakultet.naziv}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

        <!-- <div>
            <mat-form-field>
                <mat-label>Univerzitet</mat-label>
                <mat-select formControlName = "univerzitet">
                    <mat-option *ngFor = "let univerzitet of univerziteti" [value] = "univerzitet">{{univerzitet.id}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

        <div>
            <mat-form-field>
                <mat-label>Studijski program</mat-label>
                <mat-select formControlName = "studijskiProgram">
                    <mat-option *ngFor = "let studijskiProgram of studijskiProgrami" [value] = "studijskiProgram">{{studijskiProgram.naziv}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- <div>
            <mat-form-field>
                <mat-label>Nastavnik na realizaciji</mat-label>
                <mat-select formControlName = "nastavnikNaRealizaciji">
                    <mat-option *ngFor = "let nastavnikNaRealizaciji of nastavniciNaRealizaciji" [value] = "nastavnikNaRealizaciji">{{nastavnikNaRealizaciji.id}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

        <div>
            <button  (click) = "submit()">Dodaj</button>
        </div>
        
    </form>
  </div>
