<h1>Fakulteti</h1>
<br>
<div id="table">
    <mat-form-field>
        <input matInput #search (keyup)="applyFilter(search.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="naziv">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv </th>
        <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
      </ng-container>

      <ng-container matColumnDef="studijskiProgram">
        <th mat-header-cell *matHeaderCellDef> Studijski programi </th>
        <td mat-cell *matCellDef="let element"> <a [routerLink] = ""  (click) = "selected(element)">Prikazi</a> </td>
      </ng-container>
      
      <ng-container matColumnDef="akcije">
        <th mat-header-cell *matHeaderCellDef> Akcije </th>
        <td mat-cell *matCellDef="let element"> <button mat-button (click) = "deleteRow(element)">Obrisi</button>&nbsp; <a mat-button routerLink="/fakulteti/{{element.id}}">Izmeni</a> </td>
      </ng-container>

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[1, 2, 10]" showFirstLastButtons></mat-paginator>
</div>

<div name="programi">
  <div *ngIf = "izabran == true">
    <h3>Studijski programi</h3>
    <br>
    <div id="table">
        <mat-form-field>
            <input matInput #search (keyup)="applyFilter(search.value)" placeholder="Pretraga">
        </mat-form-field>
        <table mat-table [dataSource]="dataSourceSP" matSort class="mat-elevation-z8">
      
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
      
          <ng-container matColumnDef="naziv">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv </th>
            <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
          </ng-container>

      
          <tr mat-header-row *matHeaderRowDef="displayedColumnsSP"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsSP;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[1, 2, 10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
