<div class="example-container">
    <form form [formGroup] = "form">
        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="ID" formControlName = "id" >
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field>
                <input matInput type="date" placeholder="Godina studija" formControlName = "godinaStudija" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Studijski program</mat-label>
                <mat-select formControlName = "studijskiProgram">
                    <mat-option *ngFor = "let sp of studijskiProgrami" [value] = "sp">{{sp.naziv}} Fakultet: {{sp.fakultet.naziv}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <button  (click) = "submit()">Dodaj</button>
        </div>
        
    </form>
  </div>
