<h3>Autori</h3>
<br>
<br>
<mat-form-field>
    <input matInput #search (keyup)="applyFilter(search.value)" placeholder="Pretraga">
</mat-form-field>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort matPaginator>
  

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="ime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ime </th>
        <td mat-cell *matCellDef="let element">{{element.ime}}</td>
      </ng-container>

      <ng-container matColumnDef="prezime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prezime </th>
        <td mat-cell *matCellDef="let element">{{element.prezime}}</td>
      </ng-container>

      <ng-container matColumnDef="akcije">
        <th mat-header-cell *matHeaderCellDef> Akcije </th>
        <td mat-cell *matCellDef="let element"> <button mat-button (click) = "deleteRow(element)">Obrisi</button> </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[1, 2, 10]" showFirstLastButtons></mat-paginator>
</div>
<br>
<div>
<button mat-button (click) = "export()">Export</button>
</div>
<br>

<div class="text-center">
  <label>Import</label>
  <div>
    <input type="file" (change)="changeListener($event)">
  </div>
</div>
