
<h1>Drzave</h1>
<br>
<br>
<mat-form-field>
    <input matInput #search (keyup)="applyFilter(search.value)" placeholder="Pretraga">
</mat-form-field>
<div id="table">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="naziv">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv </th>
          <td mat-cell *matCellDef="let element"> <a [routerLink] = "" (click) = "selected(element)">{{element.naziv}}</a> </td>
        </ng-container>

        <ng-container matColumnDef="akcije">
          <th mat-header-cell *matHeaderCellDef> Akcije </th>
          <td mat-cell *matCellDef="let element"> <button mat-button (click) = "deleteRow(element)">Obrisi</button> &nbsp; <a mat-button routerLink="/drzave/{{element.id}}">Izmeni</a> </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[1, 2, 10]" showFirstLastButtons></mat-paginator>
</div>
<br>
<div style="padding: 20px;">
  <button mat-button (click) = "export()">Export</button>
</div>
<br>

<div class="text-center">
  <div style="padding: 20px;">
    <label style="padding: 20px;"> Import</label>
  </div>
  <br>
  <div style="padding: 20px;">
    <input type="file" (change)="changeListener($event)">
  </div>
</div>
<br>
<br>
<div *ngIf = "izabrana == true" name = "mesta">
<h3>{{izabranaDrzava.naziv}} - mesta</h3>
<br>
  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceMesta" >
    
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="naziv">
          <th mat-header-cell *matHeaderCellDef> Naziv </th>
          <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
        </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumnsMesta"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsMesta;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[1, 2, 10]" showFirstLastButtons></mat-paginator>
  </div>
</div>