
table {
    width: 100%;
}

h1, h3 {
    text-align: center;
}
h1{
    font-size: 40px;
}

.mat-form-field {
    font-size: 14px;
    width: 98%;
    padding: 20px;
    font-size: large;
}

th.mat-sort-header-sorted {
    color: black;
}

#table{
    padding: 20px;
}

th{
    font-weight: 700;
}

* {
    margin: 0;
    font-family: 'Times New Roman';
    color: #333;
    font-size: large;
}

.mat-row:nth-child(even){
    background-color: #dee1ff;
}