<div>
    
    
    <div id="logout" *ngIf="loginService.isLoggedIn()">
        <button mat-button (click)="logout()" routerLink="/login" >Logout</button>
    </div>
    
    <div id="login" *ngIf="!loginService.isLoggedIn()">
        <button mat-button routerLink = "/login" >Login</button>
    </div> 
    
    <div *ngIf="loginService.isLoggedIn()"> 
        <div *ngIf="loginService.hasRole('ROLE_NASTAVNIK')">
            <div>
                <button mat-button routerLink = "/" >Home</button>
            </div> 
            <app-nastavnik-menu></app-nastavnik-menu>
        </div>
        
        <div *ngIf="loginService.hasRole('ROLE_STUDENT')">
            <div>
                <button mat-button routerLink = "/" >Home</button>
            </div> 
            <app-user-menu></app-user-menu>
        </div>
    
        <div *ngIf="loginService.hasRole('ROLE_KORISNIK')">
            <div>
                <button mat-button routerLink = "/" >Home</button>
            </div> 
            <app-user-menu></app-user-menu>
        </div>
    
        <div *ngIf="loginService.hasRole('ROLE_ADMINISTRATOR')">
            <div id="registracija">
                <button mat-button routerLink = "/registracija" >Registracija</button>
            </div> 
            <app-admin-menu></app-admin-menu>
        </div>
    </div>
</div>