* {
    margin: 0;
    font-family: 'Times New Roman';
    color: #333;
    font-size: large;
}

button:hover {
    color: #f1356d;
    
}
button{
    padding: 20px;
    margin: 20px;
}

#logout{
    float: right;
    
}

#registracija{
    float: inline-start;
}