<h1>Adrese</h1>
<br>
<div id="table">
    <mat-form-field>
        <input matInput #search (keyup)="applyFilter(search.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="ulica">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ulica </th>
        <td mat-cell *matCellDef="let element"> {{element.ulica}} </td>
      </ng-container>

      <ng-container matColumnDef="broj">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Broj </th>
        <td mat-cell *matCellDef="let element"> {{element.broj}} </td>
      </ng-container>

      <ng-container matColumnDef="mesto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mesto </th>
        <td mat-cell *matCellDef="let element"> {{element.mesto.naziv}} </td>
      </ng-container>
      
      <ng-container matColumnDef="akcije">
        <th mat-header-cell *matHeaderCellDef> Akcije </th>
        <td mat-cell *matCellDef="let element"> <button mat-button (click) = "deleteRow(element)">Obrisi</button>&nbsp; <a mat-button routerLink="/adrese/{{element.id}}">Izmeni</a> </td>
      </ng-container>

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[1, 2, 10]" showFirstLastButtons></mat-paginator>
</div>
