<h1>Nastavnici</h1>
<div id="table">
    <mat-form-field>
        <input matInput #search (keyup)="applyFilter(search.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="ime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ime</th>
        <td mat-cell *matCellDef="let element"> {{element.ime}} </td>
      </ng-container>

      <ng-container matColumnDef="biografija">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Biografija</th>
        <td mat-cell *matCellDef="let element"> {{element.biografija}} </td>
      </ng-container>

      <ng-container matColumnDef="jmbg">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> JMBG</th>
        <td mat-cell *matCellDef="let element"> {{element.jmbg}} </td>
      </ng-container>

      <ng-container matColumnDef="fakultet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fakultet</th>
        <td mat-cell *matCellDef="let element"> {{element.fakultet.naziv}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="univerzitet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Univerzitet</th>
        <td mat-cell *matCellDef="let element"> {{element.univerzitet.id}} </td>
      </ng-container> -->

      <ng-container matColumnDef="studijskiProgram">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Studijski program (rukovodilac)</th>
        <td mat-cell *matCellDef="let element"> <p  *ngIf = "element.studijskiProgram != null">{{element.studijskiProgram.naziv}}</p></td>
      </ng-container>

      <!-- <ng-container matColumnDef="nastavnikNaRealizaciji">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nastavnik na realizaciji</th>
        <td mat-cell *matCellDef="let element"> {{element.nastavnikNaRealizaciji}} </td>
      </ng-container> -->

      <ng-container matColumnDef="akcije">
        <th mat-header-cell *matHeaderCellDef> Akcije </th>
        <td mat-cell *matCellDef="let element"> <button mat-button (click) = "deleteRow(element)">Obrisi</button>&nbsp; <a mat-button routerLink="/nastavnici/{{element.id}}">Izmeni</a> </td>
      </ng-container>

      

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <br>
    <div style="padding: 20px;">
      <button mat-button (click) = "export()">Export</button>
    </div>
    <div class="text-center" style="padding: 20px;">
      <label> &nbsp;Import: &nbsp; &nbsp; &nbsp; &nbsp;</label> <input type="file" (change)="changeListener($event)">

    </div>
    <mat-paginator [pageSizeOptions]="[1, 2, 10]" showFirstLastButtons></mat-paginator>
</div>
