table {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
    font-size: large;
}

th.mat-sort-header-sorted {
    color: black;
}

th{
    font-weight: 700;
}

#table{
    padding: 20px;
}

* {
    margin: 0;
    font-family: 'Times New Roman';
    color: #333;
    font-size: large;
}

.mat-row:nth-child(even){
    background-color: #dee1ff;
}